<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalonManager.Properties.Settings.ConnectionString"
            connectionString="Dsn=Excel Files;uid=admin;pwd=0000" providerName="System.Data.Odbc" />
        <add name="SalonManager.Properties.Settings.sqliteDB"
            connectionString="data source=D:\KimWorks\git\DBServer\client\WpfMvvmApplication1\WpfMvvmApplication1\sqliteDB;Password=0000"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>